services:
  database:
    image: "postgres:17.6"
    ports:
      - 5432:5432

    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: postgres 

    volumes:
      - ./db-data/:/var/lib/postgresql/data/